body,
html {
  margin: 0;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameboard {
  height: 500px;
  width: 500px;
  background-color: rgba(255, 197, 89, 0.904);
  border: 3px solid rgb(245, 65, 65);
  border-radius: 2%;
  display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);

}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(245, 65, 65);
  border-radius: 1%;
}


#player1o:hover, #player1x:hover, #player2x:hover, #player2o:hover {
  color: lightblue;
}

#player1, #player2 {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 200px;

}


#player-title {
  text-decoration: underline;
}


.player-gameboard {
  display: flex;
  gap: 20px;
}

#player1marker, #player2marker {
  text-decoration: none;
  text-align: center;
}